In [27]:
#ADS-PHASE-3

#PROJECT TITLE-ELectricity Prices Prediction

#TEAM NO-1

#---------PREPARED BY Jai Bharath M(team member)

In [28]:
#importing necessary libraries
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [29]:
#loading data set
file_path = r"D:\Electricity.csv"
encoding = "ISO-8859-1"
df = pd.read_csv(file_path, encoding=encoding)
df

C:\Users\veera\AppData\Local\Temp\ipykernel_18640\1091009078.py:4: DtypeWarning: Columns (9,10,11,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding=encoding)

,DateTime,Holiday,HolidayFlag,DayOfWeek,WeekOfYear,Day,Month,Year,PeriodOfDay,ForecastWindProduction,SystemLoadEA,SMPEA,ORKTemperature,ORKWindspeed,CO2Intensity,ActualWindProduction,SystemLoadEP2,SMPEP2
0,01/11/2011 00:00,NaN,0,1,44,1,11,2011,0,315.31,3388.77,49.26,6.00,9.30,600.71,356.00,3159.60,54.32
1,01/11/2011 00:30,NaN,0,1,44,1,11,2011,1,321.80,3196.66,49.26,6.00,11.10,605.42,317.00,2973.01,54.23
2,01/11/2011 01:00,NaN,0,1,44,1,11,2011,2,328.57,3060.71,49.10,5.00,11.10,589.97,311.00,2834.00,54.23
3,01/11/2011 01:30,NaN,0,1,44,1,11,2011,3,335.60,2945.56,48.04,6.00,9.30,585.94,313.00,2725.99,53.47
4,01/11/2011 02:00,NaN,0,1,44,1,11,2011,4,342.90,2849.34,33.75,6.00,11.10,571.52,346.00,2655.64,39.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38009,31/12/2013 21:30,New Year's Eve,1,1,1,31,12,2013,43,1179.14,3932.22,34.51,6.00,22.20,285.31,812.0,3692.95,42.45
38010,31/12/2013 22:00,New Year's Eve,1,1,1,31,12,2013,44,1152.01,3821.44,33.83,5.00,24.10,278.31,852.0,3571.0,33.83
38011,31/12/2013 22:30,New Year's Eve,1,1,1,31,12,2013,45,1123.67,3724.21,31.75,4.00,20.40,280.91,962.0,3460.29,31.75
38012,31/12/2013 23:00,New Year's Eve,1,1,1,31,12,2013,46,1094.24,3638.16,33.83,5.00,14.80,302.46,950.0,3563.99,50.6
38013,31/12/2013 23:30,New Year's Eve,1,1,1,31,12,2013,47,1064.0,3624.25,33.83,5.00,16.70,308.01,1020.0,3517.08,34.9

In [30]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38014 entries, 0 to 38013
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DateTime                38014 non-null  object
 1   Holiday                 1536 non-null   object
 2   HolidayFlag             38014 non-null  int64
 3   DayOfWeek               38014 non-null  int64
 4   WeekOfYear              38014 non-null  int64
 5   Day                     38014 non-null  int64
 6   Month                   38014 non-null  int64
 7   Year                    38014 non-null  int64
 8   PeriodOfDay             38014 non-null  int64
 9   ForecastWindProduction  38014 non-null  object
 10  SystemLoadEA            38014 non-null  object
 11  SMPEA                   38014 non-null  object
 12  ORKTemperature          38014 non-null  object
 13  ORKWindspeed            38014 non-null  object
 14  CO2Intensity            38014 non-null  object
 15  ActualWindProduction    38014 non-null  object
 16  SystemLoadEP2           38014 non-null  object
 17  SMPEP2                  38014 non-null  object
dtypes: int64(7), object(11)
memory usage: 5.2+ MB

In [31]:
df.head()

,DateTime,Holiday,HolidayFlag,DayOfWeek,WeekOfYear,Day,Month,Year,PeriodOfDay,ForecastWindProduction,SystemLoadEA,SMPEA,ORKTemperature,ORKWindspeed,CO2Intensity,ActualWindProduction,SystemLoadEP2,SMPEP2
0,01/11/2011 00:00,NaN,0,1,44,1,11,2011,0,315.31,3388.77,49.26,6.00,9.30,600.71,356.00,3159.60,54.32
1,01/11/2011 00:30,NaN,0,1,44,1,11,2011,1,321.80,3196.66,49.26,6.00,11.10,605.42,317.00,2973.01,54.23
2,01/11/2011 01:00,NaN,0,1,44,1,11,2011,2,328.57,3060.71,49.10,5.00,11.10,589.97,311.00,2834.00,54.23
3,01/11/2011 01:30,NaN,0,1,44,1,11,2011,3,335.60,2945.56,48.04,6.00,9.30,585.94,313.00,2725.99,53.47
4,01/11/2011 02:00,NaN,0,1,44,1,11,2011,4,342.90,2849.34,33.75,6.00,11.10,571.52,346.00,2655.64,39.87

In [32]:
#to display null values
df.isnull()

,DateTime,Holiday,HolidayFlag,DayOfWeek,WeekOfYear,Day,Month,Year,PeriodOfDay,ForecastWindProduction,SystemLoadEA,SMPEA,ORKTemperature,ORKWindspeed,CO2Intensity,ActualWindProduction,SystemLoadEP2,SMPEP2
0,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38009,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
38010,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
38011,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
38012,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
38013,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [33]:
# Define the categorical column(s) you want to one-hot encode
categorical_columns = ['HolidayFlag']
# Perform one-hot encoding using get_dummies
df_encoded = pd.get_dummies(df, columns=categorical_columns)

In [34]:
# Display the one-hot encoded DataFrame
print(df_encoded)

               DateTime         Holiday  DayOfWeek  WeekOfYear  Day  Month  \
0      01/11/2011 00:00             NaN          1          44    1     11
1      01/11/2011 00:30             NaN          1          44    1     11
2      01/11/2011 01:00             NaN          1          44    1     11
3      01/11/2011 01:30             NaN          1          44    1     11
4      01/11/2011 02:00             NaN          1          44    1     11
...                 ...             ...        ...         ...  ...    ...
38009  31/12/2013 21:30  New Year's Eve          1           1   31     12
38010  31/12/2013 22:00  New Year's Eve          1           1   31     12
38011  31/12/2013 22:30  New Year's Eve          1           1   31     12
38012  31/12/2013 23:00  New Year's Eve          1           1   31     12
38013  31/12/2013 23:30  New Year's Eve          1           1   31     12

       Year  PeriodOfDay ForecastWindProduction SystemLoadEA  SMPEA  \
0      2011            0                 315.31      3388.77  49.26
1      2011            1                 321.80      3196.66  49.26
2      2011            2                 328.57      3060.71  49.10
3      2011            3                 335.60      2945.56  48.04
4      2011            4                 342.90      2849.34  33.75
...     ...          ...                    ...          ...    ...
38009  2013           43                1179.14      3932.22  34.51
38010  2013           44                1152.01      3821.44  33.83
38011  2013           45                1123.67      3724.21  31.75
38012  2013           46                1094.24      3638.16  33.83
38013  2013           47                 1064.0      3624.25  33.83

      ORKTemperature ORKWindspeed CO2Intensity ActualWindProduction  \
0               6.00         9.30       600.71               356.00
1               6.00        11.10       605.42               317.00
2               5.00        11.10       589.97               311.00
3               6.00         9.30       585.94               313.00
4               6.00        11.10       571.52               346.00
...              ...          ...          ...                  ...
38009           6.00        22.20       285.31                812.0
38010           5.00        24.10       278.31                852.0
38011           4.00        20.40       280.91                962.0
38012           5.00        14.80       302.46                950.0
38013           5.00        16.70       308.01               1020.0

      SystemLoadEP2 SMPEP2  HolidayFlag_0  HolidayFlag_1
0           3159.60  54.32           True          False
1           2973.01  54.23           True          False
2           2834.00  54.23           True          False
3           2725.99  53.47           True          False
4           2655.64  39.87           True          False
...             ...    ...            ...            ...
38009       3692.95  42.45          False           True
38010        3571.0  33.83          False           True
38011       3460.29  31.75          False           True
38012       3563.99   50.6          False           True
38013       3517.08   34.9          False           True

[38014 rows x 19 columns]

In [35]:
#scaling
scaler = StandardScaler()
df['Day'] = scaler.fit_transform(df['Day'].values.reshape(-1, 1))
df

,DateTime,Holiday,HolidayFlag,DayOfWeek,WeekOfYear,Day,Month,Year,PeriodOfDay,ForecastWindProduction,SystemLoadEA,SMPEA,ORKTemperature,ORKWindspeed,CO2Intensity,ActualWindProduction,SystemLoadEP2,SMPEP2
0,01/11/2011 00:00,NaN,0,1,44,-1.674147,11,2011,0,315.31,3388.77,49.26,6.00,9.30,600.71,356.00,3159.60,54.32
1,01/11/2011 00:30,NaN,0,1,44,-1.674147,11,2011,1,321.80,3196.66,49.26,6.00,11.10,605.42,317.00,2973.01,54.23
2,01/11/2011 01:00,NaN,0,1,44,-1.674147,11,2011,2,328.57,3060.71,49.10,5.00,11.10,589.97,311.00,2834.00,54.23
3,01/11/2011 01:30,NaN,0,1,44,-1.674147,11,2011,3,335.60,2945.56,48.04,6.00,9.30,585.94,313.00,2725.99,53.47
4,01/11/2011 02:00,NaN,0,1,44,-1.674147,11,2011,4,342.90,2849.34,33.75,6.00,11.10,571.52,346.00,2655.64,39.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38009,31/12/2013 21:30,New Year's Eve,1,1,1,1.733344,12,2013,43,1179.14,3932.22,34.51,6.00,22.20,285.31,812.0,3692.95,42.45
38010,31/12/2013 22:00,New Year's Eve,1,1,1,1.733344,12,2013,44,1152.01,3821.44,33.83,5.00,24.10,278.31,852.0,3571.0,33.83
38011,31/12/2013 22:30,New Year's Eve,1,1,1,1.733344,12,2013,45,1123.67,3724.21,31.75,4.00,20.40,280.91,962.0,3460.29,31.75
38012,31/12/2013 23:00,New Year's Eve,1,1,1,1.733344,12,2013,46,1094.24,3638.16,33.83,5.00,14.80,302.46,950.0,3563.99,50.6
38013,31/12/2013 23:30,New Year's Eve,1,1,1,1.733344,12,2013,47,1064.0,3624.25,33.83,5.00,16.70,308.01,1020.0,3517.08,34.9

In [36]:
#train_test split
X = df.drop('Day', axis=1)
y = df['Day']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [37]:
print("\n X_test info")
print(X_test.info())

 X_test info
<class 'pandas.core.frame.DataFrame'>
Index: 7603 entries, 35833 to 9786
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DateTime                7603 non-null   object
 1   Holiday                 297 non-null    object
 2   HolidayFlag             7603 non-null   int64
 3   DayOfWeek               7603 non-null   int64
 4   WeekOfYear              7603 non-null   int64
 5   Month                   7603 non-null   int64
 6   Year                    7603 non-null   int64
 7   PeriodOfDay             7603 non-null   int64
 8   ForecastWindProduction  7603 non-null   object
 9   SystemLoadEA            7603 non-null   object
 10  SMPEA                   7603 non-null   object
 11  ORKTemperature          7603 non-null   object
 12  ORKWindspeed            7603 non-null   object
 13  CO2Intensity            7603 non-null   object
 14  ActualWindProduction    7603 non-null   object
 15  SystemLoadEP2           7603 non-null   object
 16  SMPEP2                  7603 non-null   object
dtypes: int64(6), object(11)
memory usage: 1.0+ MB
None

In [38]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

In [39]:
#split the dataset into training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [41]:
# K-Means clustering
k = 5
from sklearn.cluster import KMeans  # Import KMeans
kmeans = KMeans(n_clusters=k, random_state=42)
df['Cluster'] = kmeans.fit_predict(X)

ValueError: could not convert string to float: '01/11/2011 00:00'